{% extends "base.html.twig" %}

{% block content %}
<section class="first-section">
 <header class="header"><img class="" src="{{asset("assets/images/GlobalAlumni-logotipo.svg")}}" alt="Logo Global Alumni"></header>
 <div class="title-container">
  <h2 class="title">Portal del mentor</h2>
  <p class="description-portal">El espacio de formación, oportunidades e intercambio de conocimientos de los mentores de GA</p>
 </div>
</section>

<div class="ceo-section">
  <figure class="img-ceo-container">
    <img class="img-ceo" src="{{asset("assets/images/Pablo-Rivas.jpg")}}" alt="Pablo Rivas">
  </figure>
  <div class="mensaje-ceo-container">
    <div class="bloque-mensaje">
      <h2 class="titulo-mensaje-ceo">MENSAJE DEL CEO</h2>
      <p class="ceo-texto">Revolución tecnológica, globalización de la economía y una educación de calidad. Estos son los tres pilares de mi vida profesional y lo que me llevó a fundar Global Alumni en su momento.</p>
      <p class="ceo-texto">Teníamos por delante la tarea de acercar el conocimiento de las mejores universidades del mundo a profesionales de cualquier otro rincón, y lo hemos conseguido. Diseñamos, elaboramos y distribuimos programas de posgrado en español, inglés y portugués, los idiomas más hablados en el mundo, tanto en formato online como semipresencial.</p>
    </div>
  </div>
</div>

<section class="universidades-1">
  <h2 class="titulo-universidades">ACCEDE AL CAMPUS DE FORMACIÓN DE TU UNIVERSIDAD</h2>
  <figure class="img-univ-container">
   <a target="_blank" href="https://chicagobooth.globalalumni.org/home/"><img class="logo-universidad" src="{{asset("assets/images/universidades/Chicago-Booth-Executive-Education-logo-background.png")}}" alt="Chicago Booth"></a>

   <a target="_blank" href="https://online.esade.edu/"><img class="logo-universidad" src="{{asset("assets/images/universidades/logo-Esade-blanco.png")}}" alt="Esade"></a>

   <a target="_blank" href="https://professionalprograms.mit.edu/es/"><img class="logo-universidad" src="{{asset("assets/images/universidades/logo-MIT-PE.png")}}" alt="MIT Professional Education"></a>

   <a target="_blank" href="https://customprograms.globalalumni.org/"><img class="logo-universidad" src="{{asset("assets/images/universidades/logo-UCLA-Extension-blanco.png")}}" alt="UCLA"></a>

   <a target="_blank" href="https://berkeleyextension.globalalumni.org"><img class="logo-universidad" src="{{asset("assets/images/universidades/UC-Berkeley-Extension-logo-blanco.png")}}" alt="UC Berkeley"></a>
  </figure>
  <figure class="img-univ-container">
   <a target="_blank" href="https://online.professional.uchicago.edu/es/"><img class="logo-universidad" src="{{asset("assets/images/universidades/UChicago-logo-white.png")}}" alt="Universidad de Chicago"></a>
   <a target="_blank" href="https://www.universidad-online-uees.com/"><img class="logo-universidad" src="{{asset("assets/images/universidades/UEES-logo-horizontal.png")}}" alt="UEES"></a>
   <a target="_blank" href="https://usilmiami.com/"><img class="logo-universidad" src="{{asset("assets/images/universidades/USIL-logo.png")}}" alt="USIL"></a>
   <a target="_blank" href="https://spanish.xpro.mit.edu/"><img class="logo-universidad" src="{{asset("assets/images/universidades/xPRO-logo-blanco.png")}}" alt="MIT xPRO"></a>
  </figure>
</section>


<section class="universidades-2">
  <h2 class="titulo-universidades">NUESTRAS UNIVERSIDADES</h2>
  <figure class="img-univ-container">
   <a target="_blank" href="https://chicagobooth.globalalumni.org/home/"><img class="logo-universidad" src="{{asset("assets/images/universidades/Chicago-Booth-Executive-Education-logo-background.png")}}" alt="Chicago Booth"></a>

   <a target="_blank" href="https://online.esade.edu/"><img class="logo-universidad" src="{{asset("assets/images/universidades/logo-Esade-blanco.png")}}" alt="Esade"></a>

   <a target="_blank" href="https://professionalprograms.mit.edu/es/"><img class="logo-universidad" src="{{asset("assets/images/universidades/logo-MIT-PE.png")}}" alt="MIT Professional Education"></a>

   <a target="_blank" href="https://customprograms.globalalumni.org/"><img class="logo-universidad" src="{{asset("assets/images/universidades/logo-UCLA-Extension-blanco.png")}}" alt="UCLA"></a>

   <a target="_blank" href="https://berkeleyextension.globalalumni.org"><img class="logo-universidad" src="{{asset("assets/images/universidades/UC-Berkeley-Extension-logo-blanco.png")}}" alt="UC Berkeley"></a>
  </figure>
  <figure class="img-univ-container">
   <a target="_blank" href="https://online.professional.uchicago.edu/es/"><img class="logo-universidad" src="{{asset("assets/images/universidades/UChicago-logo-white.png")}}" alt="Universidad de Chicago"></a>
   <a target="_blank" href="https://www.universidad-online-uees.com/"><img class="logo-universidad" src="{{asset("assets/images/universidades/UEES-logo-horizontal.png")}}" alt="UEES"></a>
   <a target="_blank" href="https://usilmiami.com/"><img class="logo-universidad" src="{{asset("assets/images/universidades/USIL-logo.png")}}" alt="USIL"></a>
   <a target="_blank" href="https://spanish.xpro.mit.edu/"><img class="logo-universidad" src="{{asset("assets/images/universidades/xPRO-logo-blanco.png")}}" alt="MIT xPRO"></a>
  </figure>
</section>

<section class="oportunidades-anuncios">
  <div class="tips-oportunidad">
   <h2>OPORTUNIDADES</h2>
      <p class="oportunidades">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero fuga, sequi nesciunt nam at, ut accusamus tenetur laborum vel unde corrupti soluta tempore dicta facilis nobis vero ducimus facere id.</p>
  </div>
  <div class="tips-oportunidad">
   <h2>TIPS Y ANUNCIOS</h2>
   <p class="tips-anuncios">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero fuga, sequi nesciunt nam at, ut accusamus tenetur laborum vel unde corrupti soluta tempore dicta facilis nobis vero ducimus facere id.</p>
  </div>
</section>
{% endblock %}