{% extends "base.html.twig" %}

{% block content %}
{% if is_granted ('ROLE_USER')%}

<section class="first-section">
 <header class="header">
 <nav class="contenedor-principal navbar navbar-expand-lg navbar-dark bg-transparent">
  <img class="navbar-brand GAlogo" src="{{asset("assets/images/GlobalAlumni-logotipo.svg")}}" alt="Logo Global Alumni">
  <button id="boton-menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="rrss-container collapse navbar-collapse" id="navbarNav">
    <ul id="lista" class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://linkedin.com"><i  class="rrss fab fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com"><i class="rrss fab fa-twitter-square"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://facebook.com"><i class="rrss fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://instagram.com"><i class="rrss fab fa-instagram"></i></a>
      </li>
      <li class="nav-item">
         <a class="nav-link border-right-idioma idiomas"href="#">ESP</a>
         <a class="nav-link idiomas"href="#">ENG</a>
      </li>
    </ul>
  </div>
</nav>
 <div class="bienvenida-container">
    <p class="bienvenido">Hola {{app.user.nombre}} </p>
    <div class="logout-container">
        {% if is_granted ('ROLE_ADMIN')%}
         <a class="logout" href='{{path("signup")}}'>Registrar</a>
        {% endif %}
        <a class="logout" href='{{path("app_logout")}}'>Logout</a>
    </div>
 </div>
 <hr class="linea">

 </header>
 <div class="title-container">
  <h2 class="title">Portal del mentor</h2>
  <p class="description-portal">El espacio de formaci贸n, oportunidades e intercambio de conocimientos de los mentores de GA</p>
 </div>
</section>

<div class="ceo-section">
  <figure class="img-ceo-container">
    <img class="img-ceo" src="{{asset("assets/images/Pablo-Rivas.jpg")}}" alt="Pablo Rivas">
  </figure>
  <div class="mensaje-ceo-container">
    <div class="bloque-mensaje">
      <h2 class="titulo-mensaje-ceo">MENSAJE DEL CEO</h2>
      <p class="ceo-texto">Pablo Rivas ha condensado en un libro todos sus a帽os de experiencia al frente de Global Alumni y su visi贸n sobre la transformaci贸n que est谩 experimentando el sector de la educaci贸n.</p>
    </div>
  </div>
</div>

<section class="universidades-1">
  <h2 class="titulo-universidades">Accede al campus de formaci贸n de tu universidad</h2>
  <figure class="img-univ-container row">

   <a class="nombre-universidad col-lg-3  col-sm-6" target="_blank" href="http://spanishcourses.xpro.mit.edu:18010/home/">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/mitx-pro-logo 1.png")}}" alt="MIT xPRO">
    <p class="nombre-universidad">MIT XPRO</p>
   </a>

   <a class="nombre-universidad col-lg-3 col-sm-6" target="_blank" href="https://www.mitpeonline.com/login/canvas">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/logo-MIT-PE-icono 1.png")}}" alt="MIT Professional Education">
    <p class="nombre-universidad">MIT PE</p>
   </a>

   <a class="nombre-universidad col-lg-3  col-sm-6" target="_blank" href="https://www.uchicagodigital.com/login/canvas">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/UChicago-phoenix-white 1.png")}}" alt="Universidad de Chicago">
    <p class="nombre-universidad">Chicago</p>
   </a>

   <a class="nombre-universidad col-lg-3  col-sm-6" target="_blank" href="https://www.boothexedonline.com/login/canvas">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/Chicago-Booth-Executive-Education-stacked-logo 1.png")}}" alt="Chicago Booth">
    <p class="nombre-universidad">Chicago Booth</p>
   </a>

   <a class="nombre-universidad col-lg-3  col-sm-6" target="_blank" href="https://berkeleyextensiononline.com/login/canvas">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/UC-Berkeley-sello 1.png")}}" alt="UC Berkeley">
    <p class="nombre-universidad">UC Berkeley</p>
   </a>

   <a class="nombre-universidad col-lg-3  col-sm-6" target="_blank" href="https://online.esade.edu/">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/logo-Esade 1.png")}}" alt="Esade">
    <p class="nombre-universidad">ESADE</p>
   </a>

   <a class="nombre-universidad col-lg-3  col-sm-6" target="_blank" href="https://www.universidad-online-uees.com/">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/UEES-logo 1.png")}}" alt="UEES">
    <p class="nombre-universidad">UEES</p>
   </a>

   <a class="nombre-universidad col-lg-3  col-sm-6" target="_blank" href="https://usilmiami.com/">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/USIL-logo 1.png")}}" alt="USIL">
    <p class="nombre-universidad">USIL</p>
   </a>

   <a class="nombre-universidad col-lg-3 col-md-4 col-sm-6" target="_blank" href="https://customprograms.globalalumni.org/">
    <img class="logo-universidad" src="{{asset("assets/images/universidades/logo-UCLA-Extension.png")}}" alt="UCLA">
    <p class="nombre-universidad">UCLA</p>
   </a>

  </figure>
</section>

<section class="oportunidades-anuncios">
<!-- <div class="border-opt"></div>-->
  <div class="border-izq border-der tips-oportunidad">
   <h2 class="title-opt">Oportunidades</h2>
   <p class="oportunidades">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero fuga, sequi nesciunt nam at, ut accusamus tenetur laborum vel unde corrupti soluta tempore dicta facilis nobis vero ducimus facere id.</p>
   <a class="leer-mas" href="#">LEER MS <i class="flecha fas fa-arrow-right"></i></a>
  </div>
  <div class="border-izq border-der tips-oportunidad">
   <h2 class="title-opt">Tips y anuncios</h2>
   <p class="tips-anuncios">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero fuga, sequi nesciunt nam at, ut accusamus tenetur laborum vel unde corrupti soluta tempore dicta facilis nobis vero ducimus facere id.</p>
   <a class="leer-mas" href="#">LEER MS <i class="flecha fas fa-arrow-right"></i></a>
  </div>
</section>

<section class="universidades-2">
  <h2 class="nuestras-univ">Conoce nuestras universidades y programas</h2>
  <div class="seccion-universidades row">

    <a class="encales-univ col-lg-3 col-md-4 col-12" target="_blank" href="https://online.professional.uchicago.edu/es/"><i class="fas fa-arrow-right"></i> THE UNIVERSITY OF CHICAGO</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://chicagobooth.globalalumni.org/home/"><i class="fas fa-arrow-right"></i> CHICAGO BOOTH</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://berkeleyextension.globalalumni.org"><i class="fas fa-arrow-right"></i> UC BERKELEY EXTENSION</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://www.universidad-online-uees.com/"><i class="fas fa-arrow-right"></i> UEES</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://spanish.xpro.mit.edu/"><i class="fas fa-arrow-right"></i> MIT XPRO</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://online.esade.edu/"><i class="fas fa-arrow-right"></i> ESADE</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://professionalprograms.mit.edu/es/"><i class="fas fa-arrow-right"></i> MIT PROFESSIONAL EDUCATION</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://usilmiami.com/"><i class="fas fa-arrow-right"></i> USIL</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://customprograms.globalalumni.org/"><i class="fas fa-arrow-right"></i> UCLA EXTENSION</a>

  </div>

</section>

<footer class="footer">
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Frame (3).svg")}}" alt="Florida">
      <p class="ciudad-nombre" >FLORIDA - EE. UU.</p>
      <p class="ciudad-direccion" >7950NW 53RD St</p>
      <p class="ciudad-direccion" >Miami, FL 33166</p>
    </div>
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Frame (4).svg")}}" alt="Massachusetts">
      <p class="ciudad-nombre" >MASSACHUSETTS - EE. UU.</p>
      <p class="ciudad-direccion" >8 Trail Street</p>
      <p class="ciudad-direccion" >Cambridge, MA 02138</p>
    </div>
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Frame (5).svg")}}" alt="Madrid">
      <p class="ciudad-nombre" >MADRID - ESPAA</p>
      <p class="ciudad-direccion" >Av. De Pablo Iglesias, 55</p>
      <p class="ciudad-direccion" >28040, Madrid</p>
    </div>
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Group-4 1.svg")}}" alt="California">
      <p class="ciudad-nombre" >CALIFORNIA - EE. UU.</p>
      <p class="ciudad-direccion" >Mountain View Road</p>
      <p class="ciudad-direccion" >Mountain View, CA 94041</p>
    </div>
</footer>

<section class="politica-privacidad">
  <div>
    <p class="ga">漏 Global Alumni 2020</p>
  </div>

  <div class="politica-logo-container">
    <img class="politica-logo" src="{{asset("assets/images/GlobalAlumni-logotipo.svg")}}" alt="Logo Global Alumni">
  </div>

  <div>
    <a class="ga border-right"href="#">Politica de privacidad</a>
    <a class="ga"href="#">Aviso legal</a>
  </div>
</section>
{% else %}
<div style="height:100vh;" class="jumbotron">
  <h1 class="display-4">Hola! </h1>
  <p class="lead">Para acceder a nuestro portal del mentor tienes que ingresar tus credenciales.</p>
  <hr class="my-4">
  <p>Por favor, has click en el bot贸n de abajo para acceder ;)</p>
  <a class="btn btn-warning btn-lg font-weight-bold" href="{{path('app_login')}}" role="button">Ingresar</a>
</div>
{% endif %}
{% endblock %}