{% extends "base.html.twig" %}


{% block content %}
<section class="first-section">
 <header class="header">
 <nav class="contenedor-principal navbar navbar-expand-lg navbar-dark bg-transparent">
  <img class="navbar-brand GAlogo" src="{{asset("assets/images/GlobalAlumni-logotipo.svg")}}" alt="Logo Global Alumni">
  <button id="boton-menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="rrss-container collapse navbar-collapse" id="navbarNav">
    <ul id="lista" class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://linkedin.com"><i  class="rrss fab fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com"><i class="rrss fab fa-twitter-square"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://facebook.com"><i class="rrss fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://instagram.com"><i class="rrss fab fa-instagram"></i></a>
      </li>
      <li class="nav-item">
         <a class="nav-link border-right-idioma idiomas"href="#">ESP</a>
         <a class="nav-link idiomas"href="#">ENG</a>
      </li>
    </ul>
  </div>
</nav>
 <div class="bienvenida-container">
    <p class="bienvenido">Hola {{app.user.nombre}} 👋</p>
    <div class="logout-container">
        {% if is_granted ('ROLE_ADMIN')%}
         <a class="logout" href='{{path("signup")}}'>Registrar</a>
        {% endif %}
        <a class="logout" href='{{path("app_logout")}}'>Logout</a>
    </div>
 </div>
 <hr class="linea">

 </header>
 <div class="title-container">
  <h2 class="title">Oportunidades</h2>
  <p class="description-portal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
 </div>
</section>

<section class="universidades-2">
  <h2 class="nuestras-univ">Conoce nuestras universidades y programas</h2>
  <div class="seccion-universidades row">

    <a class="encales-univ col-lg-3 col-md-4 col-12" target="_blank" href="https://online.professional.uchicago.edu/es/"><i class="fas fa-arrow-right"></i> THE UNIVERSITY OF CHICAGO</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://chicagobooth.globalalumni.org/home/"><i class="fas fa-arrow-right"></i> CHICAGO BOOTH</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://berkeleyextension.globalalumni.org"><i class="fas fa-arrow-right"></i> UC BERKELEY EXTENSION</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://www.universidad-online-uees.com/"><i class="fas fa-arrow-right"></i> UEES</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://spanish.xpro.mit.edu/"><i class="fas fa-arrow-right"></i> MIT XPRO</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://online.esade.edu/"><i class="fas fa-arrow-right"></i> ESADE</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://professionalprograms.mit.edu/es/"><i class="fas fa-arrow-right"></i> MIT PROFESSIONAL EDUCATION</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://usilmiami.com/"><i class="fas fa-arrow-right"></i> USIL</a>

    <a class="encales-univ col-lg-3 col-md-4 col-sm-12" target="_blank" href="https://customprograms.globalalumni.org/"><i class="fas fa-arrow-right"></i> UCLA EXTENSION</a>

  </div>

</section>

<footer class="footer">
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Frame (3).svg")}}" alt="Florida">
      <p class="ciudad-nombre" >FLORIDA - EE. UU.</p>
      <p class="ciudad-direccion" >7950NW 53RD St</p>
      <p class="ciudad-direccion" >Miami, FL 33166</p>
    </div>
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Frame (4).svg")}}" alt="Massachusetts">
      <p class="ciudad-nombre" >MASSACHUSETTS - EE. UU.</p>
      <p class="ciudad-direccion" >8 Trail Street</p>
      <p class="ciudad-direccion" >Cambridge, MA 02138</p>
    </div>
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Frame (5).svg")}}" alt="Madrid">
      <p class="ciudad-nombre" >MADRID - ESPAÑA</p>
      <p class="ciudad-direccion" >Av. De Pablo Iglesias, 55</p>
      <p class="ciudad-direccion" >28040, Madrid</p>
    </div>
    <div class="ciudades-container">
      <img class="ciudad-img" src="{{asset("assets/images/Group-4 1.svg")}}" alt="California">
      <p class="ciudad-nombre" >CALIFORNIA - EE. UU.</p>
      <p class="ciudad-direccion" >Mountain View Road</p>
      <p class="ciudad-direccion" >Mountain View, CA 94041</p>
    </div>
</footer>

<section class="politica-privacidad">
  <div>
    <p class="ga">© Global Alumni 2020</p>
  </div>

  <div class="politica-logo-container">
    <img class="politica-logo" src="{{asset("assets/images/GlobalAlumni-logotipo.svg")}}" alt="Logo Global Alumni">
  </div>

  <div>
    <a class="ga border-right"href="#">Politica de privacidad</a>
    <a class="ga"href="#">Aviso legal</a>
  </div>
</section>
{% endblock %}